:root {
    --white: #FFFFFF;
    --black: #0a0a0a;
    --jet: #343434;
    --gray: #A4A4A4;
    --gray-b: #161616;
    --gray-transparentoso: rgba(73,73,73, 0.3);
    --gray-transparentoso2: rgba(38, 38, 38, 0.9);
    --gray-transparentoso3: rgb(35, 35, 35);
    --negro-transparentoso: rgba(1, 1, 1, 0.5);
    --text-input-field: #F7F7F7;
    --hospital-green: #57EFA4;
    --hospital-green-light: #def5e1;
    --vsm: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    --hospital-shadow: rgba(172,217,178,0.75);
    --hospital-light: rgba(172,217,178,0.075);
}
