@use 'vars';

.acercademi {
    border-radius: 12px;
    padding: 12px 24px 24px 24px;
    p{
        padding: 0 12px 0 12px;
        font-size: var(--md);
        font-weight: 400;
    }
}

@media (max-width: 640px) {
    .acercademi {
        p{
            padding: 0 12px 0 12px;
            font-size: var(--md);
            font-weight: 400;
        }
    }

}

