@use 'vars';

.contacto {
    
    ul {
        display: grid;
        grid-template-columns: auto auto;
        gap: 6px;
        padding: 0;
        list-style: none;
        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--gray-transparentoso);
            cursor: pointer;
            font-size: var(--sm);
            color: var(--white);
            transition: 0.25s ease all;
            &:hover {
                background-color: var(--hospital-green);
                color: var(--black);
                a {
                    color: var(--black)
                }
            }
            
            a{ 
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: var(--sm);
                color: var(--white)
            }
        }
    }
}

.ubicacion {
    background-color: var(--gray-transparentoso);
    font-size: var(--sm);
    color: var(--white);
}