@use 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--white);
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: var(--gray-transparentoso);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--gray);
        border-radius: 5px;	
    }

    .bg-henry {
        background-color: var(--gray-transparentoso);
    }

    .modal-content {
        background-color: var(--gray-transparentoso3);
        border-radius: 0 0 16px 16px;
        border-top: 4px solid var(--hospital-green);
        .modal-header{
            border-bottom: none;
            color: var(--gray);

            button {
                background-color: var(--gray-transparentoso); 
                color: var(--gray);
                border-radius: 6px;
                border: none;
                transition: 0.25s ease all;

                &:hover {
                    background-color: var(--hospital-green); 
                    color: var(--black);
                }
            }
        }
        .modal-body{
            .carousel-inner {
                border-radius: 8px;
            }
        }
    }
}
