@use 'vars';
    
        nav { 
            background-color:  var(--gray-transparentoso3) !important;
            .navbar-toggler {
                &:hover{
                    border: none;
                }
            }
            ul{
                li{ 
                    button {
                        background: none;
                        color: var(--white);
                        cursor: pointer;
                        border: none;
                        padding: 12px;
                        position: relative;

                        font-size: var(--sm);
                        font-weight: 500;

                        &::before {
                            content: '';
                            position: absolute;
                            height: 4px;
                            width: 100%;
                            bottom: 0;
                            left: 0;
                            background-color: var(--hospital-green);
                            transform: scale(1, 0);
                            transition: transform 0.25s ease;
                            transform-origin: 0 100%;
                        }

                        &:hover{
                            &::before {
                                transform: scale(1,1);
                            }
                            background-color: var(--gray-transparentoso);
                        }

                        
                    }
                }
            }
        }
        div {
            .link {
                text-decoration: none;
                background: none;
                color: var(--white);
                cursor: pointer;
                border: none;
                padding: 12px;
                position: relative;

                font-size: var(--sm);
                font-weight: 500;

                &::before {
                    content: '';
                    position: absolute;
                    height: 4px;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background-color: var(--hospital-green);
                    transform: scale(1, 0);
                    transition: transform 0.25s ease;
                    transform-origin: 0 100%;
                }

                &:hover{
                    &::before {
                        transform: scale(1,1);
                    }
                    background-color: var(--gray-transparentoso);
                }

                
            }
        }