@use 'vars';

.portafolio {
    .proyectos {
        display: grid;
        grid-template-columns: auto auto;
        gap: 12px;
    }
}

@media (max-width: 768px) {
    .portafolio {
        .proyectos {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
        }
    }


}