.presentacion {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
    justify-content: space-around;
    padding: 36px 0;

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 64px;
        }
        h3 {
            font-size: 24px;
        }
    }

    figure {
        display: flex;
        place-items: center;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 4px;
            width: 80%;
            bottom: 20%;
            right: -10px;
            background-color: var(--hospital-green);
        }
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 30%;
            top: 20%;
            left: -10px;
            background-color: var(--hospital-green);
        }
        img {
            max-height: 400px
        }
        
    }
}

@media (max-width: 720px) {
    .presentacion {
        .titulo {
            h1 {
                font-size: 48px;
            }
            h3 {
                font-size: 18px;
            }
            padding: 12px;
        }
        figure {
            img {
                max-height: 350px; 
            }
            &::before {
                right: 0;
            }
            &::after {
                left: 0;
            }
            padding: 12px;
        }
    }


}

@media (max-width: 640px) {
    .presentacion {
        .titulo {
            h1 {
                font-size: 32px;
            }
            h3 {
                font-size: 16px;
            }
        }
        figure {
            img {
                max-height: 250px;
            }
        }
    }
    
}