.presentacion {

    h1 {
        font-size: 54px;
    }
    h3 {
        font-size: 32px;
    }

    figure {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 4px;
            width: 80%;
            bottom: 20%;
            right: -10px;
            background-color: var(--hospital-green);
        }
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 30%;
            top: 20%;
            left: -10px;
            background-color: var(--hospital-green);
        }
        img {
            width: 100%;
        }
        
    }
}

@media (max-width: 425px) {
    .presentacion {

        h1 {
            font-size: 32px;
        }
        h3 {
            font-size: 24px;
        }
    }


}