@use 'vars';

.presentacion {

    h1 {
        font-size: 54px;
        filter: drop-shadow(0px 10px 25px rgba(44, 53, 45, 0.65));
    }
    h3 {
        font-size: 32px;
    }

    figure {
        position: relative;
        object-fit: cover;
        &::before {
            content: '';
            position: absolute;
            height: 4px;
            width: 80%;
            bottom: 20%;
            right: -10px;
            background-color: var(--hospital-green);
        }
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 30%;
            top: 20%;
            left: -10px;
            background-color: var(--hospital-green);
        }
        img {
            width: 100%;
            border-radius: 12px;
        }
        
    }
}

@media (max-width: 500px) {
    .presentacion {

        h1 {
            font-size: 28px;
        }
        h3 {
            font-size: 16px;
        }
    }


}